/**
 * Example directive styling
 */
.sd-example-title p {
    margin: 0 0 .2em 0;
    font-size: .9em;
    font-style: italic;
}

.sd-example-item {
    border: 1px solid var(--sd-color-card-border);
}

.sd-example-source div[class*="highlight-"],
.sd-example-source div.highlight,
.sd-example-source pre {
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: .25rem; /* Same as .sd-card */
}

.sd-example-source pre {
    padding: 1.5rem 1rem;
}

/* Cards should be flush w/ one another at their intersection */
.sd-example .sd-rounded-bottom {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.sd-example .sd-rounded-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom: 0;
}
