.sidebar-metadata-container .save-button-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: none;
  border-radius: 2px;
  margin: 1rem 0;
  background-color: #007eb1;
  color: white;
  cursor: pointer;
}

.sidebar-metadata-container .save-button-wrapper:hover {
  background-color: #006c98;
}

.sidebar-metadata-container .save-icon {
  margin-right: 0.5rem;
}

.sidebar-metadata-container .save-button-text {
  font-weight: 500;
}
