:root {
  --layout-container-width: 1440px;
  --default-container-width: 940px;
  --narrow-container-width: 620px;
}

// Container queries still do not work with CSS properties
// They should be exact numbers
// For now, maintain in sync with the above
$layout-container-width: 1440px;
$default-container-width: 940px;
$narrow-container-width: 620px;

@mixin narrow-container-width() {
  max-width: var(--narrow-container-width);
  margin-right: auto;
  margin-left: auto;
}

@mixin default-container-width() {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;
}

@mixin layout-container-width() {
  max-width: var(--layout-container-width);
  margin-right: auto;
  margin-left: auto;
}

// One still cannot use variables or CSS properties directly on @container queries
@mixin adjustMarginsToContainer($width) {
  @container (max-width: #{$width - 1}) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
