{
  "extends": ["airbnb", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "protractor": true
  },
  "parser": "babel-eslint",
  "rules": {
    "valid-jsdoc": 2,
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "prettier/prettier": [
      "error",
      { "trailingComma": "all", "singleQuote": true }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ],
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./src/lib/plone-react"}]
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathSuffix": "src"
      }
    }
  },
  "globals": {
    "root": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__DEBUG__": true,
    "__SSR__": true,
    "jest": true,
    "socket": true,
    "webpackIsomorphicTools": true
  },
  "plugins": ["prettier"]
}
