{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      { "trailingComma": "all", "singleQuote": true }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@plone/volto", "./src"]],
        "extensions": [".js", ".jsx", ".json"]
      },
      "babel-plugin-root-import": {
        "rootPathSuffix": "src"
      }
    }
  },
  "globals": {
    "root": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__DEBUG__": true,
    "__SSR__": true,
    "jest": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
