# Node
node_modules
coverage
jsdoc
webpack-assets.json
webpack-stats.json
npm-debug.log
dist
yarn.lock

# Other
.DS_Store

# Python
/api/eggs/
/api/develop-eggs/
/api/.installed.cfg
/api/.mr.developer.cfg
/api/var/
/api/bin/
/api/parts/
/api/src/
