{
  "src/**/*.{js,jsx,ts,tsx,json}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write",
    "pnpm test:husky"
  ],
  "src/**/*.{jsx}": ["pnpm i18n"],
  "theme/**/*.{css,less}": ["pnpm stylelint --fix"],
  "src/**/*.{css,less}": ["pnpm stylelint --fix"],
  "theme/**/*.overrides": ["pnpm stylelint --fix"],
  "src/**/*.overrides": ["pnpm stylelint --fix"]
}
