**/.next
**/build
**/coverage
**/dist
styles/rules/*
node_modules
packages/volto
packages/registry/docs/*
packages/registry/lib
storybook-static
apps/vite-ssr/src/routeTree.gen.ts
apps/vite/src/routeTree.gen.ts
