# requirements.txt
linkify-it-py
myst-parser
plone-sphinx-theme<2
sphinx-autobuild
sphinx-copybutton
sphinx-examples
sphinx-reredirects
sphinxcontrib-video
sphinxcontrib-youtube
sphinxext-opengraph
vale
