# requirements.txt
linkify-it-py
myst-parser
plone-sphinx-theme
sphinx-autobuild
sphinx-copybutton
sphinx-examples
sphinx-togglebutton
sphinxcontrib-video
sphinxcontrib-youtube
sphinxext-opengraph
vale
