docutils<0.17,>=0.15  # sphinx-book-theme 0.2.0 has requirement docutils<0.17,>=0.15
Sphinx<5,>=3  # sphinx-book-theme 0.3.3 has requirement sphinx<5,>=3
jsx-lexer
lesscpy
linkify-it-py
myst-parser
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-sitemap
sphinx-togglebutton
sphinxcontrib-spelling
sphinxext-opengraph
