robotframework==3.0.4
robotframework-debuglibrary==1.1.4
robotframework-react==1.0.0a2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.2.0
robotframework-pabot==0.45
robotframework-faker==4.2.0
robotframework-requests==0.5.0
robotsuite==2.0.0
selenium==3.141.0
requests==2.20.1
prompt_toolkit==1.0.15
