@import '../Button/Button.css';
@import '../TextField/TextField.css';
@import '../Modal/Modal.css';

.react-aria-Dialog {
  padding: 30px;
  outline: none;

  .react-aria-Heading[slot='title'] {
    margin-top: 0;
    line-height: 1em;
  }
}
