.controlpanel-block-types,
.controlpanel-block-type {
  .react-aria-Table {
    --plone-table-cell-border-bottom: 1px solid var(--quanta-smoke);
    --plone-table-header-border-bottom: 2px solid var(--quanta-silver);
    border-radius: 0;
  }

  .react-aria-Row {
    --radius-top: 0px;
    --radius-bottom: 0px;
    border-bottom: none;
  }

  .react-aria-Cell[data-key$=':occurrences'] {
    display: block;
    text-align: center;
  }
}
