.folder-contents {
  .ui.menu.top-menu {
    border-bottom: 4px solid #c7d5d8;
  }
  .ui.menu .menu.top-menu-menu {
    border-right: 2px solid #f2f5f6;
  }
  .ui.menu .menu.top-menu-searchbox {
    border-left: 2px solid #f2f5f6;
  }
}
