.folder-contents {
  .ui.menu.top-menu {
    border-bottom: 4px solid #c7d5d8;
  }

  .ui.menu .menu.top-menu-menu {
    border-right: 2px solid #b8c6c8;
  }

  .ui.menu .menu.top-menu-searchbox {
    border-left: 2px solid #b8c6c8;
  }

  .ui.menu .item.upload:hover,
  .ui.menu .item.paste:hover {
    background: none;
  }

  .ui.dropdown.moresvg {
    position: relative;
    top: -20px;
  }

  .ui.dropdown .menu > .item.left-dropdown > svg {
    position: relative;
    top: 3px;
  }

  .ui.table .iconAlign,
  .ui.dropdown .menu > .item.iconAlign {
    display: flex;
    align-items: center;
  }

  .ui.table .iconMargin {
    margin-right: 0.3em;
  }
}
