// Legacy Mosaic component styles
.mosaic .tile {
  position: relative;
  margin: -2px;
  border: solid 2px transparent;
  cursor: move;
}

.mosaic .tile .ui.label.below {
  position: absolute;
  top: -34px;
}

.mosaic .tile .close.icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.mosaic .tile:hover {
  border: dashed 2px #3469d0;
}

.mosaic .tile.selected {
  border: solid 2px #3469d0;
  background-color: #ffffe1;
  cursor: default;
}

.mosaic .tile.selected:hover {
  border: solid 2px #3469d0;
}

.mosaic .row {
  margin-top: -2px;
  margin-bottom: -2px;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.mosaic .tile.top,
.mosaic .row.top {
  border-top: solid 2px #3469d0;
}

.mosaic .tile.bottom,
.mosaic .row.bottom {
  border-bottom: solid 2px #3469d0;
}

.mosaic .column {
  border-right: solid 2px transparent;
  border-left: solid 2px transparent;
}

.mosaic .column.left {
  border-left: solid 2px #3469d0;
}

.mosaic .column.right {
  border-right: solid 2px #3469d0;
}

.mosaic .tile.dragging {
  opacity: 0.5;
}

.mosaic .divider {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 20px;
  margin: -10px;
  cursor: col-resize;
}

.mosaic .divider:hover .inner {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 100%;
  border-right: dashed 4px #3469d0;
}

.mosaic .resize.helper {
  position: fixed;
  width: 4px;
  padding: 0;
  margin: 0;
  background-color: #3469d0;
}

.mosaic .row.resize {
  opacity: 0.5;
}

.mosaic .row.resize .divider {
  opacity: 0;
}
