.section-search {
  .items_total {
    margin-bottom: 1em;
    color: @grey;
  }

  #content-core {
    .tileItem {
      margin-bottom: 1.5em;

      h2 {
        margin-bottom: 0.5rem;
      }
    }

    .header-content {
      display: flex;
      align-items: center;
    }

    .button-sort {
      padding: 12px;
      border-bottom: 2px solid #ccc;
      background-color: #fcfcfd;
      color: #007eb1;
    }

    .button-active {
      border: none;
      background-color: #007eb1;
      color: white;
    }

    .button-sort:first-of-type {
      margin-left: 10px;
    }
  }

  .search-footer {
    text-align: center;
  }
}
