.section-search {
  .items_total {
    margin-bottom: 1em;
    color: @grey;
  }

  #content-core {
    .tileItem {
      margin-bottom: 1.5em;

      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .search-footer {
    text-align: center;
  }
}
