.show-all-users {
  width: 500px;
  align-items: center;
  margin: auto;
  background: #faf8f8;
  color: #878f93;
  text-transform: none;
}

.show-all-users p {
  padding-left: 65px;
}

.ui.button.show-all-users {
  display: block;
  width: fit-content;
  margin: auto;
  margin: auto;
  color: #878f93;
}

.usergroupmembership_matrix {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  grid-gap: 2rem;

  .usergroupmembership_search_user {
    grid-column: 1;
    grid-row: 1;
  }

  .usergroupmembership_search_group {
    grid-column: 2;
    grid-row: 1;
  }

  .usergroupmembership_filter {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;

    .ui.checkbox {
      margin-top: .5rem;
    }
  }

  .administration_matrix {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    overflow-x: scroll;
    display: grid;
    padding-right: 2rem;
  }
}

.administration_matrix {
  .ui.table {
    border: none;
  }

  .label-options {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    .label-options-label {
      display: flex;
      align-items: flex-end;

      &.inclined {
        height: 13rem;
        width: 3.5rem;
        white-space: nowrap;

        div {
          transform:
            rotate(315deg);
          transform-origin: top left;
        }
      }
    }
  }

  .items {
    padding-top: .5rem;

    .listing-row {
      &:nth-child(2n) {
        background-color: rgba(0, 0, 50, 0.05);
      }

      .listing-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        padding: 0.5rem 0.1rem;
        margin: 0.2rem 0;
        ;

        .matrix_options {
          display: flex;
          flex-direction: row;

          &>div {
            width: 3rem;
            margin-left: 0.5rem;
            padding: 0.3rem 0.1rem;

            .ui.checkbox {
              margin: auto;
            }
          }
        }
      }
    }
  }
}