@subtleShadow: 0 3px 12px 0 rgba(153, 153, 153, 0.3);

.stickyLabelLayerBackground {
  background-color: #e0e1e2e3;
  box-shadow: @subtleShadow;
}

.show-all-users {
  width: 500px;
  align-items: center;
  margin: auto;
  background: #faf8f8;
  color: #878f93;
  text-transform: none;
}

.show-all-users p {
  padding-left: 65px;
}

.ui.button.show-all-users {
  display: block;
  width: fit-content;
  margin: auto;
  margin: auto;
  color: #878f93;
}

.controlpanel_matrix {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 5fr 5fr 2fr;

  .controlpanel_select_relation {
    grid-column: 1;
    grid-row: 1;
  }

  .controlpanel_search_y {
    grid-column: 1;
    grid-row: 2;
  }

  .controlpanel_search_x {
    grid-column: 2;
    grid-row: 2;
  }

  .controlpanel_filter {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 3;

    .ui.checkbox {
      margin-top: 0.5rem;
    }
  }

  .administration_matrix {
    display: grid;
    height: 60rem;
    padding-right: 0;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row: 3;
    grid-template-rows: 14rem 1fr;
    overflow-x: scroll;
  }
}

.administration_matrix {
  .ui.table {
    border: none;
  }

  .label-options {
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    height: 14rem;
    align-items: baseline;
    justify-content: flex-end;
    padding-right: 2rem;
    .stickyLabelLayerBackground();

    .label-options-label {
      display: flex;
      align-items: flex-end;

      &.inclined {
        width: 3.5rem;
        height: 13rem;
        white-space: nowrap;

        div {
          transform: rotate(315deg);
          transform-origin: top left;
        }
      }
    }
  }

  .items {
    padding-top: 0.5rem;

    .listing-row {
      padding-right: 2rem;

      &:nth-child(2n) {
        background-color: rgba(0, 0, 50, 0.05);
      }

      &.selectall {
        margin-bottom: 1rem;
      }

      .listing-item {
        display: flex;
        width: 100%;
        align-items: baseline;
        justify-content: space-between;
        padding: 0.5rem 0.1rem;
        margin: 0.2rem 0;

        .matrix_options {
          display: flex;
          flex-direction: row;

          & > div {
            width: 3rem;
            padding: 0.3rem 0.1rem;
            margin-left: 0.5rem;

            .ui.checkbox {
              margin: auto;
            }
          }
        }
      }
    }
  }
}
