setuptools
jupyter
Pillow
https://github.com/datakurre/robotkernel/archive/master.tar.gz#egg=robotkernel
robotframework
robotframework-seleniumlibrary
robotframework-selenium2library
robotframework-react==1.0.0a2
robotframework-webpack
