setuptools
jupyter
Pillow
https://github.com/datakurre/robotkernel/archive/master.tar.gz#egg=robotkernel
robotframework
robotframework-seleniumlibrary==3.2.0
robotframework-selenium2library
robotframework-react
robotframework-webpack
