@layer plone-components.quanta {
  .react-aria-Table {
    .react-aria-Row {
      --radius-top: 0;
      --radius-bottom: 0;
    }
    --plone-table-header-color: var(--quanta-sapphire);
    --plone-table-header-border-bottom: 1px solid var(--quanta-silver);
    --plone-table-cell-border-bottom: 1px solid var(--quanta-smoke);
    --plone-table-cell-hover-background: var(--quanta-snow);
    --plone-table-row-selected-background: var(--quanta-arctic);
    --plone-table-row-selected-foreground: var(--text-color);

    &.hoverable {
      tbody {
        tr:hover,
        tr:focus-within {
          background-color: var(--plone-table-cell-hover-background);
        }
      }
    }
  }

  .react-aria-Row[data-selected] {
    --link-color: var(--quanta-sapphire);
  }
}
