.volto-rsg-container {
  overflow: hidden; /* fixes floats */
  max-width: 80%;
  padding: 1em;
  border: 2px solid gray;
  margin-top: 1em;
  box-shadow: 5px 10px #888888;
  clear: both;
}

.icons-list {
  color: gray;
  font-size: 12px;
}
