@layer custom {
  .language-selector {
    display: flex;
    margin-right: 20px;

    .selected {
      font-weight: bold;
    }
    a:not(:last-child):after {
      margin-right: 5px;
      margin-left: 5px;
      content: '|';
      font-weight: normal;
    }
  }
}
