.scroll.small,
%scroll-small {
  overflow-x: hidden;
  overflow-y: overlay;
  //overflow: overlay;
  scrollbar-width: thin;
  //overflow-y:scroll; // manage scrollbar content overflow settings

  &::-webkit-scrollbar * {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    cursor: default;
  }

  &::-webkit-scrollbar-thumb {
    min-width: 30px;
    min-height: 30px;
    border: 3px solid transparent;
    border-radius: $radii-full;
    background-clip: padding-box;
    background-color: $dolphin;
    cursor: default;

    &:hover {
      background-color: $pigeon;
    }

    &:active {
      background-color: $iron;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: default;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: transparent url('../../static/scrolltransparent.png') repeat-y !important;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: transparent url('../../static/scrolltransparent.png') repeat-y !important;
  }
  /*
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        background-color: rgba(0,0,0,.01);

    }

    &::-webkit-scrollbar-track {
        background: rgba(0,0,0,.01);;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: $dolphin;
        background-clip: content-box;
        border:3px solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $pigeon;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $iron;
    }*/
}
