main {
  grid-area: 'content';
}

.content-area {
  container-name: content;
  container-type: inline-size;

  /* Blocks spatial relationships */
  /* TODO: Unify with below definition block */
  & > .block {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: var(--background);
    color: var(--foreground);
  }

  /* Category text */
  .category-text {
    --block-width: var(--narrow-container-width);
  }

  /* Category separator */
  .category-separator {
    --block-bottom-spacing: 0;
  }
  .block:has(+ .category-separator) {
    --block-bottom-spacing: 0;
  }

  /* Category heading */
  .category-heading {
    --block-width: var(--default-container-width);
    --block-bottom-spacing: calc(var(--spacing) * 14);
  }

  /* Category action */
  .category-action {
    --block-bottom-spacing: calc(var(--spacing) * 8);
  }

  .block {
    & .block-inner-container {
      display: grid;
      width: 100%;
      max-width: var(--block-width, var(--default-container-width));
      align-items: var(--align-items, center);
      padding-bottom: var(--block-bottom-spacing, calc(var(--spacing) * 3));
      margin: 0 auto;
      grid-auto-flow: var(--grid-auto-flow, row);
      justify-items: var(--justify-items, start);
    }

    &.layout {
      --block-width: var(--layout-container-width);
    }

    &.default {
      --block-width: var(--default-container-width);
    }

    &.narrow {
      --block-width: var(--narrow-container-width);
    }
  }
}

/* Blocks & Inner containers */

[class*='section'] {
  & .section-inner-container {
    display: grid;
    width: 100%;
    max-width: var(--block-width, 100%);
    align-items: var(--align-items, center);
    margin: 0 auto;
    grid-auto-flow: var(--grid-auto-flow, row);
    justify-items: var(--justify-items, start);
  }

  &.layout {
    --block-width: var(--layout-container-width);
  }

  &.default {
    --block-width: var(--default-container-width);
  }

  &.narrow {
    --block-width: var(--narrow-container-width);
  }
}
