@layer custom {
  :root {
    @property --block-width {
      initial-value: 100%;
      syntax: '<length>';
    }
  }

  main {
    grid-area: 'content';
  }

  .content-area {
    /* Blocks spatial relationships */
    & > .block {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      background: var(--background);
      color: var(--foreground);

      .block-inner-container {
        display: grid;
        max-width: var(--block-width, var(--default-container-width));
        padding-bottom: var(--block-bottom-spacing, calc(var(--spacing) * 3));
        margin-right: auto;
        margin-left: auto;
      }
    }

    /* Category text */
    .category-text {
      --block-width: var(--narrow-container-width);
    }

    /* Category separator */
    .category-separator {
      --block-bottom-spacing: 0;
    }
    .block:has(+ .category-separator) {
      --block-bottom-spacing: 0;
    }

    /* Category heading */
    .category-heading {
      --block-bottom-spacing: calc(var(--spacing) * 14);
    }

    /* Category action */
    .category-action {
      --block-bottom-spacing: calc(var(--spacing) * 8);
    }
  }

  figure img {
    width: 100%;
  }

  /* Container Query Contexts */
  #header,
  #footer,
  .content-area {
    container-type: inline-size;
  }

  #header {
    container-name: header;
  }

  #footer {
    container-name: footer;
  }

  .content-area {
    container-name: content;
  }

  /* Blocks & Inner containers */
  #header,
  #footer {
    [class*='section'] {
      & .section-inner-container {
        display: grid;
        width: 100%;
        max-width: var(--block-width, 100%);
        align-items: var(--align-items, center);
        margin: 0 auto;
        grid-auto-flow: var(--grid-auto-flow, row);
        justify-items: var(--justify-items, start);
      }

      &.layout {
        --block-width: var(--layout-container-width);
      }

      &.default {
        --block-width: var(--default-container-width);
      }

      &.narrow {
        --block-width: var(--narrow-container-width);
      }
    }
  }

  .content-area {
    .block {
      & .block-inner-container {
        display: grid;
        width: 100%;
        max-width: var(--block-width, 100%);
        align-items: var(--align-items, center);
        margin: 0 auto;
        grid-auto-flow: var(--grid-auto-flow, row);
        justify-items: var(--justify-items, start);
      }

      &.layout {
        --block-width: var(--layout-container-width);
      }

      &.default {
        --block-width: var(--default-container-width);
      }

      &.narrow {
        --block-width: var(--narrow-container-width);
      }
    }
  }

  .section-header {
    &.header-logo-nav-tools-wrapper {
      --grid-auto-flow: column;
      .block-inner-container {
        justify-content: space-between;
      }
    }

    &.breadcrumbs {
      ol {
        display: grid;
        gap: 0.5rem;
        grid-auto-flow: column;
        list-style-type: none;

        li {
          display: flex;
          align-items: end;
        }
      }
    }
  }

  .section-footer {
    &.main-footer {
      --justify-items: center;
      .block-inner-container {
        grid-auto-flow: row;
        text-align: center;

        .powered-by {
          place-self: center;
        }
      }
    }
  }
}
