@layer custom {
  :root {
    @property --block-width {
      initial-value: 100%;
      syntax: '<length>';
    }
  }

  main {
    grid-area: 'content';
  }

  figure img {
    width: 100%;
  }

  /* Container Query Contexts */
  #header,
  #footer,
  .content-area {
    container-type: inline-size;
  }

  #header {
    container-name: header;
  }

  #footer {
    container-name: footer;
  }

  .content-area {
    container-name: content;
  }

  /* Blocks & Inner containers */
  #header,
  #footer {
    [class*='section'] {
      & .section-inner-container {
        display: grid;
        width: 100%;
        max-width: var(--block-width, 100%);
        align-items: var(--align-items, center);
        margin: 0 auto;
        grid-auto-flow: var(--grid-auto-flow, row);
        justify-items: var(--justify-items, start);
      }

      &.layout {
        --block-width: var(--layout-container-width);
      }

      &.default {
        --block-width: var(--default-container-width);
      }

      &.narrow {
        --block-width: var(--narrow-container-width);
      }
    }
  }

  .content-area {
    [class*='block'] {
      & .block-inner-container {
        display: grid;
        width: 100%;
        max-width: var(--block-width, 100%);
        align-items: var(--align-items, center);
        margin: 0 auto;
        grid-auto-flow: var(--grid-auto-flow, row);
        justify-items: var(--justify-items, start);
      }

      &.layout {
        --block-width: var(--layout-container-width);
      }

      &.default {
        --block-width: var(--default-container-width);
      }

      &.narrow {
        --block-width: var(--narrow-container-width);
      }
    }
  }

  .section-header {
    &.header-logo-nav-tools-wrapper {
      --grid-auto-flow: column;
      .block-inner-container {
        justify-content: space-between;
      }
    }

    &.breadcrumbs {
      ol {
        display: grid;
        gap: 0.5rem;
        grid-auto-flow: column;
        list-style-type: none;

        li {
          display: flex;
          align-items: end;
        }
      }
    }
  }

  .section-footer {
    &.main-footer {
      --justify-items: center;
      .block-inner-container {
        grid-auto-flow: row;
        text-align: center;

        .powered-by {
          place-self: center;
        }
      }
    }
  }
}
