@import '@plone/components/src/styles/basic/icons.css';
@import '@plone/components/src/styles/basic/Link.css';
@import '@plone/components/src/styles/basic/Breadcrumbs.css';
@import '@plone/components/src/styles/basic/Container.css';

@layer custom {
  :root {
    @property --block-width {
      initial-value: 100%;
      syntax: '<length>';
    }
  }

  :root {
    @property --block-width {
      initial-value: 100%;
      syntax: '<length>';
    }
  }

  @import './header.css';
  @import './content-area.css';
  @import './footer.css';

  figure img {
    width: 100%;
  }
}
