//https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html

// .react-aria-ListBox {
//   --highlight-background: slateblue;
//   --highlight-foreground: white;
//   --border-color: var(--spectrum-global-color-gray-400);
//   --background-color: var(--page-background);
//   --text-color: var(--spectrum-alias-text-color);
//   --text-color-disabled: var(--spectrum-alias-text-color-disabled);

//   display: flex;
//   flex-direction: column;
//   max-height: inherit;
//   overflow: auto;
//   padding: 2px;
//   border: 1px solid var(--border-color);
//   border-radius: 6px;
//   background: var(--background-color);
//   outline: none;
//   width: 250px;
//   max-height: 300px;
//   min-height: 100px;
//   box-sizing: border-box;

//   &[data-focus-visible] {
//     border-color: var(--highlight-background);
//     box-shadow: 0 0 0 1px var(--highlight-background);
//   }
// }

// .react-aria-ListBoxItem {
//   margin: 2px;
//   padding: 0.286rem 0.571rem;
//   border-radius: 6px;
//   outline: none;
//   cursor: default;
//   color: var(--text-color);
//   font-size: 1.072rem;
//   position: relative;
//   display: flex;
//   flex-direction: column;

//   &[data-focus-visible] {
//     box-shadow: inset 0 0 0 2px var(--highlight-background);
//   }

//   &[data-selected] {
//     background: var(--highlight-background);
//     color: var(--highlight-foreground);

//     &[data-focus-visible] {
//       box-shadow:
//         inset 0 0 0 2px var(--highlight-background),
//         inset 0 0 0 4px var(--highlight-foreground);
//     }
//   }
// }

// @media (forced-colors: active) {
//   .react-aria-ListBox {
//     forced-color-adjust: none;

//     --highlight-background: Highlight;
//     --highlight-foreground: HighlightText;
//     --border-color: ButtonBorder;
//     --background-color: ButtonFace;
//     --separator-color: ButtonBorder;
//     --text-color: ButtonText;
//     --text-color-disabled: GrayText;
//   }
// }

.q.dropdown {
  width: var(--trigger-width);
  max-height: inherit;
  padding: 6px 0;
  border-radius: 6px;
  background-color: $air;
  box-shadow: $meso;
  overflow-y: auto;

  &[data-focus-visible] {
    background-color: $air;
    box-shadow: inset 0 0 0 2px $cobalt;
  }

  &:has(.option.selected) .option {
    padding-left: 24px;
  }

  // Style groups, titles, descriptions
  // .group {
  //   padding-left: 0;
  //   margin-bottom: 0;
  // }
  // .title {
  //   @extend %label-small;
  //   position: sticky;
  //   z-index: 1;
  //   top: -6px;
  //   padding: 3px 12px;
  //   backdrop-filter: blur(24px);
  //   background-color: rgba($air, 0.72);
  //   color: $pigeon;
  //   @supports not (backdrop-filter: blur(24px)) {
  //     background-color: rgba($air, 0.96);
  //   }
  // }

  .option {
    @extend %label-medium;
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    color: $denim;
    cursor: pointer;
    outline: none;
    transition: background-color $time-tiny ease-in-out;

    // Not yet implemented
    small {
      @extend %text-small;
      margin-left: 6px;
      color: $pigeon;
    }

    &::before {
      content: none;
    }
    &.selected::before {
      position: absolute;
      left: 4px;
      width: 18px;
      height: 18px;
      content: url($icon-option-checked);
      // opacity: 0;
      transition: opacity $time-tiny ease-in-out;
    }
    > :not(:first-child) {
      margin-left: 12px;
    }
    &:hover {
      background-color: $snow;
    }
    &:active,
    &[aria-selected='true'] {
      background-color: $smoke;
    }
  }
}

.q.dropdown[aria-multiselectable='true'] {
  .option::before {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-right: 12px;
    margin-left: 0;
    background: $air;
    box-shadow: inset 0 0 0 1px $dolphin;
    content: '';
    transition: box-shadow $time-tiny ease-in-out;
  }
  .option:hover::before {
    box-shadow: inset 0 0 0 1px $sapphire;
  }
  .option:active::before {
    box-shadow: inset 0 0 0 2px $cobalt;
  }
  [aria-selected='true'].option::before {
    box-shadow: inset 0 0 0 9px $sapphire;
  }
  [aria-selected='true'].option:hover::before {
    box-shadow: inset 0 0 0 9px $royal;
  }
  [aria-selected='true'].option:active::before {
    box-shadow: inset 0 0 0 9px $cobalt;
  }
  .option::after {
    position: absolute;
    left: 12px;
    width: 18px;
    height: 18px;
    content: url($icon-checkbox);
    opacity: 0;
    transition: opacity $time-tiny ease-in-out;
  }
  [aria-selected='true'].option::after {
    opacity: 1;
  }
}

@media (forced-colors: active) {
  .q.dropdown .option.focused {
    background: Highlight;
    color: HighlightText;
  }
}
