AccessControl==3.0.14
Acquisition==4.5
BTrees==4.5.1
Babel==2.6.0
Chameleon==3.5
DateTime==4.3
DocumentTemplate==2.13.4
ExtensionClass==4.4
Markdown==3.0.1
Missing==4.1
MultiMapping==4.1
Persistence==2.13.2
Pillow==5.3.0
Plone==5.1.4
Products.ATContentTypes==3.0.0
Products.Archetypes==1.15.5
Products.BTreeFolder2==4.1
Products.CMFCore==2.3.1
Products.CMFDiffTool==3.2.2
Products.CMFDynamicViewFTI==6.0.0
Products.CMFEditions==3.3.0
Products.CMFFormController==4.0.0
Products.CMFPlacefulWorkflow==2.0.0
Products.CMFPlone==5.1.4
Products.CMFQuickInstallerTool==4.0.0
Products.CMFUid==3.0.1
Products.DCWorkflow==2.3.0
Products.DateRecurringIndex==3.0.0
Products.ExtendedPathIndex==3.3.1
Products.ExternalEditor==2.0.3
Products.ExternalMethod==4.1
Products.GenericSetup==1.10.0
Products.MIMETools==2.13.0
Products.MailHost==4.2
Products.MimetypesRegistry==2.1.5
Products.OFSP==4.0.1
Products.PlacelessTranslationService==2.0.7
Products.PlonePAS==6.0.0
Products.PluggableAuthService==1.11.0
Products.PluginRegistry==1.6.1
Products.PortalTransforms==3.1.5
Products.PythonScripts==4.2
Products.ResourceRegistries==3.0.7
Products.SecureMailHost==1.1.2
Products.Sessions==4.2
Products.StandardCacheManagers==4.0.1
Products.TemporaryFolder==5.2
Products.ZCTextIndex==4.0.2
Products.ZCatalog==4.2
Products.ZSQLMethods==3.0.3
Products.ZopeVersionControl==1.1.4
Products.contentmigration==2.2.0
Products.statusmessages==5.0.4
Products.validation==2.1.1
PyJWT==1.6.4
Pygments==2.2.0
Record==3.5
RestrictedPython==3.6.0
Unidecode==1.0.22
ZConfig==3.3.0
ZEO==5.2.0
ZODB==5.5.1
ZODB3==3.11.0
ZServer==3.0
Zope2==2.13.28
ZopeUndo==4.3
archetypes.multilingual==3.0.6
archetypes.schemaextender==3.0.0
borg.localrole==3.1.6
certifi==2018.10.15
chardet==3.0.4
collective.MockMailHost==2.0.0
collective.folderishtypes==2.1
collective.monkeypatcher==1.1.6
collective.recipe.plonesite==1.9.5
cssselect==1.0.3
decorator==4.3.0
diazo==1.2.11
docutils==0.14
enum34==1.1.6
feedparser==5.2.1
five.customerize==2.0.0
five.globalrequest==99.1
five.intid==1.2.0
five.localsitemanager==3.2.2
five.pt==3.0
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
icalendar==4.0.3
idna==2.7
initgroups==4.0
jsonschema==2.6.0
lxml==4.2.5
mailinglogger==5.0.0
mechanize==0.3.7
mockup==2.7.6
mr.developer==1.38
olefile==0.46
pathlib==1.0.1
persistent==4.4.2
piexif==1.1.1
plone.alterego==1.1.1
plone.api==1.9.0
plone.app.blob==1.8.0
plone.app.blocks==4.2.0
plone.app.caching==1.2.22
plone.app.collection==1.2.6
plone.app.content==3.6.0
plone.app.contentlisting==2.0.0
plone.app.contentmenu==2.2.4
plone.app.contentrules==4.1
plone.app.contenttypes==2.0.0
plone.app.controlpanel==4.0.0
plone.app.customerize==1.3.8
plone.app.dexterity==2.5.2
plone.app.discussion==3.1.0
plone.app.drafts==1.1.2
plone.app.event==3.2.1
plone.app.folder==1.3.0
plone.app.i18n==3.0.5
plone.app.imaging==2.1.0
plone.app.intid==1.1.3
plone.app.iterate==3.3.10
plone.app.layout==3.0.0
plone.app.linkintegrity==3.3.7
plone.app.locales==5.1.10
plone.app.lockingbehavior==1.0.5
plone.app.mosaic==2.1.1
plone.app.multilingual==5.3.0
plone.app.portlets==4.4.0
plone.app.querystring==1.4.10
plone.app.redirector==1.3.6
plone.app.registry==1.7.2
plone.app.relationfield==1.4.2
plone.app.robotframework==1.4.0
plone.app.standardtiles==2.3.1
plone.app.testing==6.1.1
plone.app.textfield==1.3.0
plone.app.theming==3.0.0
plone.app.tiles==3.1.0
plone.app.upgrade==2.0.18
plone.app.users==2.5.0
plone.app.uuid==2.0.0
plone.app.versioningbehavior==1.3.5
plone.app.viewletmanager==3.0.0
plone.app.vocabularies==4.0.7
plone.app.widgets==2.4.0
plone.app.workflow==4.0.0
plone.app.z3cform==3.0.7
plone.autoform==1.8.1
plone.batching==1.1.4
plone.behavior==1.2.1
plone.browserlayer==2.2.2
plone.cachepurging==2.0
plone.caching==1.2.0
plone.contentrules==2.0.9
plone.dexterity==2.7.0
plone.event==1.4.0
plone.folder==3.0.0
plone.formwidget.multifile==2.0
plone.formwidget.namedfile==2.0.7
plone.formwidget.querystring==1.1.10
plone.formwidget.recurrence==2.1.3
plone.i18n==4.0.1
plone.indexer==1.0.5
plone.intelligenttext==3.0.0
plone.jsonserializer==0.9.6
plone.keyring==3.1.0
plone.locking==2.2.3
plone.memoize==1.2.3
plone.namedfile==5.0.1
plone.outputfilters==3.1.0
plone.portlet.collection==3.3.1
plone.portlet.static==3.1.2
plone.portlets==2.3
plone.protect==3.1.3
plone.recipe.zope2instance==4.4.0
plone.registry==1.1.2
plone.resource==2.0.1
plone.resourceeditor==2.1.1
plone.rest==1.2.0
plone.restapi==3.4.4
plone.rfc822==1.1.3
plone.scale==3.0.1
plone.schema==1.2.0
plone.schemaeditor==2.0.19
plone.session==3.7.0
plone.stringinterp==1.2.1
plone.subrequest==1.8.5
plone.supermodel==1.3.4
plone.synchronize==1.0.3
plone.testing==4.3.1
plone.theme==3.0.5
plone.tiles==2.1
plone.transformchain==1.2.2
plone.uuid==1.0.5
plone.z3cform==0.9.1
plonetheme.barceloneta==1.8.1
ply==3.4
prompt-toolkit==1.0.15
pyScss==1.3.5
python-dateutil==2.6.1
python-gettext==3.0
pytz==2017.3
repoze.xmliter==0.6
requests==2.20.1
robotframework==3.0.4
robotframework-debuglibrary==1.1.4
robotframework-react==1.0.0a2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.2.0
robotframework-webpack==1.1.3
robotsuite==2.0.0
roman==1.4.0
selenium==3.14.1
simplejson==3.12.0
six==1.10.0
slimit==0.8.1
sourcecodegen==0.6.14
tempstorage==4.0.1
transaction==2.1.2
trollius==2.1
urllib3==1.22
wcwidth==0.1.7
z3c.autoinclude==0.3.7
z3c.caching==2.0a1
z3c.form==3.6
z3c.formwidget.query==0.16
z3c.objpath==1.1
z3c.pt==3.0.0a1
z3c.relationfield==0.7
z3c.zcmlhook==1.0b1
zExceptions==2.13.0
zLOG==3.0
zc.lockfile==1.2.1
zc.recipe.egg==2.0.4
zc.relation==1.0
zdaemon==4.2.0
zodbpickle==0.7.0
zope.annotation==3.5.0
zope.app.locales==3.7.5
zope.app.publication==3.12.0
zope.authentication==3.7.1
zope.broken==3.6.0
zope.browser==2.1.0
zope.browsermenu==4.2
zope.browserpage==4.1.0
zope.browserresource==4.1.0
zope.cachedescriptors==3.5.1
zope.component==4.4.1
zope.componentvocabulary==1.0.1
zope.configuration==3.7.4
zope.container==3.11.2
zope.contentprovider==3.7.2
zope.contenttype==4.2.0
zope.copy==3.5.0
zope.datetime==3.4.1
zope.deferredimport==3.5.3
zope.deprecation==4.3.0
zope.dottedname==4.2
zope.error==3.7.4
zope.event==3.5.2
zope.exceptions==3.6.2
zope.filerepresentation==3.6.1
zope.globalrequest==1.2
zope.i18n==4.2.0
zope.i18nmessageid==4.1.0
zope.interface==4.4.3
zope.intid==3.7.2
zope.keyreference==3.6.4
zope.lifecycleevent==3.6.2
zope.location==3.9.1
zope.pagetemplate==4.2.1
zope.processlifetime==1.0
zope.proxy==4.3.0
zope.ptresource==3.9.0
zope.publisher==4.3.2
zope.ramcache==1.0
zope.schema==4.5.0
zope.security==4.1.1
zope.sendmail==3.7.5
zope.sequencesort==3.4.0
zope.site==3.9.2
zope.size==3.4.1
zope.structuredtext==3.5.1
zope.tal==3.5.2
zope.tales==3.5.3
zope.testbrowser==3.11.1
zope.testing==3.9.7
zope.testrunner==4.4.4
zope.traversing==4.1.0
zope.untrustedpython==4.0.0
zope.viewlet==3.7.2
