{
  "extends": ["airbnb", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "protractor": true
  },
  "parser": "babel-eslint",
  "rules": {
    "valid-jsdoc": 2,
    "require-jsdoc": 0,
    "prettier/prettier": [
      "error",
      { "trailingComma": "all", "singleQuote": true }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ],
    "import/prefer-default-export": "off"
  },
  "globals": {
    "root": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__DEBUG__": true,
    "__SSR__": true,
    "jest": true,
    "socket": true,
    "webpackIsomorphicTools": true
  },
  "plugins": ["prettier"],
  "settings": {
      "import/core-modules": [ "@plone/plone-react" ],
      "import/resolver": {
        "webpack": {
          "config": "./webpack/webpack.config.client.prod.entry.js"
        },
        "babel-plugin-root-import": {
          "rootPathSuffix": "src"
        }
      }
    }
}
