.input {
  width: 240px;
  height: 34px;
  padding: 0 12px;
  border: none;
  background-color: transparent;
  color: #444;
  font-family: inherit;
  font-size: 15px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #888;
}

.inputInvalid {
  color: #e65757;
}

.link {
  color: #007eb1;
  text-decoration: underline;
}
