@import './Button.css';
@import './Form.css';
@import './theme.css';

@layer plone-components.base {
  .react-aria-ColorField {
    display: flex;
    flex-direction: column;
    color: var(--text-color);

    .react-aria-Input {
      width: 100%;
      max-width: 12ch;
      box-sizing: border-box;
      padding: 0.286rem;
      border: 1px solid var(--border-color);
      border-radius: 6px;
      margin: 0;
      background: var(--field-background);
      color: var(--field-text-color);
      font-size: 1.143rem;

      &[data-focused] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }

    &[data-invalid] {
      .react-aria-Input {
        border-color: var(--color-invalid);
      }
    }

    .react-aria-FieldError {
      color: var(--color-invalid);
      font-size: 12px;
    }

    [slot='description'] {
      font-size: 12px;
    }

    .react-aria-Input {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
      }
    }
  }
}
