@import './Button.css';
@import './theme.css';

.react-aria-RangeCalendar {
  width: fit-content;
  max-width: 100%;
  color: var(--text-color);

  & header {
    display: flex;
    align-items: center;
    margin: 0 4px 0.5rem 4px;

    .react-aria-Heading {
      flex: 1;
      margin: 0;
      font-size: 1.375rem;
      text-align: center;
    }
  }

  .react-aria-Button {
    width: 2rem;
    height: 2rem;
    padding: 0;
  }

  & table {
    border-collapse: collapse;

    & td {
      padding: 2px 0;
    }
  }

  .react-aria-CalendarCell {
    width: 2.286rem;
    border-radius: 6px;
    cursor: default;
    forced-color-adjust: none;
    line-height: 2.286rem;
    outline: none;
    text-align: center;

    &[data-outside-month] {
      display: none;
    }

    &[data-pressed] {
      background: var(--gray-100);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--highlight-background);
      outline-offset: -2px;
    }

    &[data-selected] {
      border-radius: 0;
      background: var(--highlight-background);
      color: var(--highlight-foreground);

      &[data-focus-visible] {
        outline-color: var(--highlight-foreground);
        outline-offset: -3px;
      }
    }

    &[data-selection-start] {
      border-end-start-radius: 6px;
      border-start-start-radius: 6px;
    }

    &[data-selection-end] {
      border-end-end-radius: 6px;
      border-start-end-radius: 6px;
    }
  }

  .react-aria-CalendarCell {
    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }

  .react-aria-CalendarCell {
    &[data-unavailable] {
      color: var(--color-invalid);
      text-decoration: line-through;
    }

    &[data-invalid] {
      background: var(--color-invalid);
      color: var(--highlight-foreground);
    }
  }

  [slot='errorMessage'] {
    color: var(--color-invalid);
    font-size: 12px;
  }
}
