.react-aria-Popover {
  --border-color: var(--quanta-smoke);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  .popover-label {
    color: var(--quanta-pigeon);
    font-size: 0.8rem;
    font-weight: 500;
  }

  .popover-list .react-aria-Checkbox {
    font-size: 1rem;
  }

  .react-aria-Dialog {
    padding: 0.75rem;
  }
}
