@import '../TextField/TextField.css';
@import '../Button/Button.css';

.react-aria-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.react-aria-Form [role='alert'] {
  max-width: 250px;
  padding: 12px;
  border: 2px solid var(--invalid-color);
  border-radius: 6px;
  background: var(--overlay-background);
  outline: none;

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
