@font-face {
  font-family: 'Metropolis Extra';
  font-style: italic;
  font-weight: 200;
  src: url('Metropolis-ExtraLightItalic.eot');
  src:
    local('Metropolis Extra Light Italic'),
    local('Metropolis-ExtraLightItalic'),
    url('Metropolis-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-ExtraLightItalic.woff2') format('woff2'),
    url('Metropolis-ExtraLightItalic.woff') format('woff'),
    url('Metropolis-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: normal;
  src: url('Metropolis-RegularItalic.eot');
  src:
    local('Metropolis Regular Italic'),
    local('Metropolis-RegularItalic'),
    url('Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-RegularItalic.woff2') format('woff2'),
    url('Metropolis-RegularItalic.woff') format('woff'),
    url('Metropolis-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Semi';
  font-style: italic;
  font-weight: 600;
  src: url('Metropolis-SemiBoldItalic.eot');
  src:
    local('Metropolis Semi Bold Italic'),
    local('Metropolis-SemiBoldItalic'),
    url('Metropolis-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-SemiBoldItalic.woff2') format('woff2'),
    url('Metropolis-SemiBoldItalic.woff') format('woff'),
    url('Metropolis-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 900;
  src: url('Metropolis-BlackItalic.eot');
  src:
    local('Metropolis Black Italic'),
    local('Metropolis-BlackItalic'),
    url('Metropolis-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-BlackItalic.woff2') format('woff2'),
    url('Metropolis-BlackItalic.woff') format('woff'),
    url('Metropolis-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 100;
  src: url('Metropolis-ThinItalic.eot');
  src:
    local('Metropolis Thin Italic'),
    local('Metropolis-ThinItalic'),
    url('Metropolis-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-ThinItalic.woff2') format('woff2'),
    url('Metropolis-ThinItalic.woff') format('woff'),
    url('Metropolis-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Extra';
  font-style: normal;
  font-weight: 800;
  src: url('Metropolis-ExtraBold.eot');
  src:
    local('Metropolis Extra Bold'),
    local('Metropolis-ExtraBold'),
    url('Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-ExtraBold.woff2') format('woff2'),
    url('Metropolis-ExtraBold.woff') format('woff'),
    url('Metropolis-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Semi';
  font-style: normal;
  font-weight: 600;
  src: url('Metropolis-SemiBold.eot');
  src:
    local('Metropolis Semi Bold'),
    local('Metropolis-SemiBold'),
    url('Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-SemiBold.woff2') format('woff2'),
    url('Metropolis-SemiBold.woff') format('woff'),
    url('Metropolis-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 500;
  src: url('Metropolis-MediumItalic.eot');
  src:
    local('Metropolis Medium Italic'),
    local('Metropolis-MediumItalic'),
    url('Metropolis-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-MediumItalic.woff2') format('woff2'),
    url('Metropolis-MediumItalic.woff') format('woff'),
    url('Metropolis-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: url('Metropolis-Medium.eot');
  src:
    local('Metropolis Medium'),
    local('Metropolis-Medium'),
    url('Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Medium.woff2') format('woff2'),
    url('Metropolis-Medium.woff') format('woff'),
    url('Metropolis-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 300;
  src: url('Metropolis-LightItalic.eot');
  src:
    local('Metropolis Light Italic'),
    local('Metropolis-LightItalic'),
    url('Metropolis-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-LightItalic.woff2') format('woff2'),
    url('Metropolis-LightItalic.woff') format('woff'),
    url('Metropolis-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 300;
  src: url('Metropolis-Light.eot');
  src:
    local('Metropolis Light'),
    local('Metropolis-Light'),
    url('Metropolis-Light.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Light.woff2') format('woff2'),
    url('Metropolis-Light.woff') format('woff'),
    url('Metropolis-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: url('Metropolis-Black.eot');
  src:
    local('Metropolis Black'),
    local('Metropolis-Black'),
    url('Metropolis-Black.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Black.woff2') format('woff2'),
    url('Metropolis-Black.woff') format('woff'),
    url('Metropolis-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 100;
  src: url('Metropolis-Thin.eot');
  src:
    local('Metropolis Thin'),
    local('Metropolis-Thin'),
    url('Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Thin.woff2') format('woff2'),
    url('Metropolis-Thin.woff') format('woff'),
    url('Metropolis-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Extra';
  font-style: italic;
  font-weight: 800;
  src: url('Metropolis-ExtraBoldItalic.eot');
  src:
    local('Metropolis Extra Bold Italic'),
    local('Metropolis-ExtraBoldItalic'),
    url('Metropolis-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-ExtraBoldItalic.woff2') format('woff2'),
    url('Metropolis-ExtraBoldItalic.woff') format('woff'),
    url('Metropolis-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Extra';
  font-style: normal;
  font-weight: 200;
  src: url('Metropolis-ExtraLight.eot');
  src:
    local('Metropolis Extra Light'),
    local('Metropolis-ExtraLight'),
    url('Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-ExtraLight.woff2') format('woff2'),
    url('Metropolis-ExtraLight.woff') format('woff'),
    url('Metropolis-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: bold;
  src: url('Metropolis-Bold.eot');
  src:
    local('Metropolis Bold'),
    local('Metropolis-Bold'),
    url('Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Bold.woff2') format('woff2'),
    url('Metropolis-Bold.woff') format('woff'),
    url('Metropolis-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: normal;
  src: url('Metropolis-Regular.eot');
  src:
    local('Metropolis Regular'),
    local('Metropolis-Regular'),
    url('Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-Regular.woff2') format('woff2'),
    url('Metropolis-Regular.woff') format('woff'),
    url('Metropolis-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: bold;
  src: url('Metropolis-BoldItalic.eot');
  src:
    local('Metropolis Bold Italic'),
    local('Metropolis-BoldItalic'),
    url('Metropolis-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Metropolis-BoldItalic.woff2') format('woff2'),
    url('Metropolis-BoldItalic.woff') format('woff'),
    url('Metropolis-BoldItalic.ttf') format('truetype');
}
