/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : '../../pastanaga-theme/pastanaga/site';
@reset      : '../../pastanaga-theme/pastanaga/site';

/* Elements */
@button     : '../../pastanaga-theme/pastanaga/site';
@container  : '../../pastanaga-theme/pastanaga/site';
@divider    : '../../pastanaga-theme/pastanaga/site';
@flag       : '../../pastanaga-theme/pastanaga/site';
@header     : '../../pastanaga-theme/pastanaga/site';
@icon       : '../../pastanaga-theme/pastanaga/site';
@image      : '../../pastanaga-theme/pastanaga/site';
@input      : '../../pastanaga-theme/pastanaga/site';
@label      : '../../pastanaga-theme/pastanaga/site';
@list       : '../../pastanaga-theme/pastanaga/site';
@loader     : '../../pastanaga-theme/pastanaga/site';
@rail       : '../../pastanaga-theme/pastanaga/site';
@reveal     : '../../pastanaga-theme/pastanaga/site';
@segment    : '../../pastanaga-theme/pastanaga/site';
@step       : '../../pastanaga-theme/pastanaga/site';

/* Collections */
@breadcrumb : '../../pastanaga-theme/pastanaga/site';
@form       : '../../pastanaga-theme/pastanaga/site';
@grid       : '../../pastanaga-theme/pastanaga/site';
@menu       : '../../pastanaga-theme/pastanaga/site';
@message    : '../../pastanaga-theme/pastanaga/site';
@table      : '../../pastanaga-theme/pastanaga/site';

/* Modules */
@accordion  : '../../pastanaga-theme/pastanaga/site';
@checkbox   : '../../pastanaga-theme/pastanaga/site';
@dimmer     : '../../pastanaga-theme/pastanaga/site';
@dropdown   : '../../pastanaga-theme/pastanaga/site';
@embed      : '../../pastanaga-theme/pastanaga/site';
@modal      : '../../pastanaga-theme/pastanaga/site';
@nag        : '../../pastanaga-theme/pastanaga/site';
@popup      : '../../pastanaga-theme/pastanaga/site';
@progress   : '../../pastanaga-theme/pastanaga/site';
@rating     : '../../pastanaga-theme/pastanaga/site';
@search     : '../../pastanaga-theme/pastanaga/site';
@shape      : '../../pastanaga-theme/pastanaga/site';
@sidebar    : '../../pastanaga-theme/pastanaga/site';
@sticky     : '../../pastanaga-theme/pastanaga/site';
@tab        : '../../pastanaga-theme/pastanaga/site';
@transition : '../../pastanaga-theme/pastanaga/site';

/* Views */
@ad         : '../../pastanaga-theme/pastanaga/site';
@card       : '../../pastanaga-theme/pastanaga/site';
@comment    : '../../pastanaga-theme/pastanaga/site';
@feed       : '../../pastanaga-theme/pastanaga/site';
@item       : '../../pastanaga-theme/pastanaga/site';
@statistic  : '../../pastanaga-theme/pastanaga/site';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : "../../theme";


/*******************************
         Import Theme
*******************************/

@import "~semantic-ui-less/theme.less";
@fontPath : "../../../pastanaga/site/assets/fonts";

/* End Config */
