#page-addons {
  --border-color: rgba(0, 0, 0, 0.175);
  --section-header-bg-color: rgba(33, 37, 41, 0.03);
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-color-foreground: #ffffff;
}

#page-addons.controlpanel-addons .addon-item {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

#page-addons.controlpanel-addons .addon-item .addon-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#page-addons .btn-primary {
  --btn-bg-color: rgb(0, 126, 177);
  --btn-focus-shadow-rgb: 38, 143, 189;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);
  padding: 0.5rem 0.85rem;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--btn-color-foreground);
}

#page-addons .btn-primary:focus-visible {
  border-color: var(--btn-hover-border-color);
  box-shadow: var(--btn-focus-box-shadow);
  outline: 0;
}

#page-addons .btn-danger {
  --btn-bg-color: rgb(220, 53, 69);
  --btn-focus-shadow-rgb: 225, 83, 97;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);
  padding: 0.5rem 0.85rem;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--btn-color-foreground);
}

#page-addons .btn-danger:focus-visible {
  border-color: var(--btn-hover-border-color);
  box-shadow: var(--btn-focus-box-shadow);
  outline: 0;
}

#page-addons.controlpanel-addons .addons-section {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 4px;
  margin-top: 1.75rem;
}

#page-addons.controlpanel-addons .addons-section .addons-section-header {
  display: flex;
  padding: 0.65rem 0.85rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--section-header-bg-color);
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
}
