#page-addons {
  --border-color: rgba(0, 0, 0, 0.175);
  --section-header-bg-color: rgba(33, 37, 41, 0.03);
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-color-foreground: #ffffff;
  /* Black, guarantees a11y contrast */
  --focus-shadow-rgb: 0, 0, 0;
  --focus-box-shadow: 0 0 0 0.2rem rgba(var(--focus-shadow-rgb));
}

#page-addons.controlpanel-addons .addon-item {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

#page-addons.controlpanel-addons .addon-item:focus-visible {
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

#page-addons.controlpanel-addons .addon-item .addon-item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 1rem;
  @media only screen and (max-width: 1071px) {
    gap: 1.5rem;
  }
}

#page-addons.controlpanel-addons .no-upgrades-available,
#page-addons.controlpanel-addons .no-installed-available,
#page-addons.controlpanel-addons .no-addon-available {
  padding: 2rem 1.5rem;
}

#page-addons .install-action {
  --btn-bg-color: rgb(0, 126, 177);

  padding: 0.5rem 0.85rem;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--btn-color-foreground);
  cursor: pointer;
}

#page-addons .install-action:focus-visible {
  border-color: var(--btn-hover-border-color);
  box-shadow: var(--focus-box-shadow);
  outline: 0;
}

#page-addons .uninstall-action {
  --btn-bg-color: rgb(220, 53, 69);

  padding: 0.5rem 0.85rem;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--btn-color-foreground);
  cursor: pointer;
}

#page-addons .uninstall-action:focus-visible {
  border-color: var(--btn-hover-border-color);
  box-shadow: var(--focus-box-shadow);
  outline: 0;
}

#page-addons.controlpanel-addons .addons-section {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 4px;
  margin-top: 1.75rem;
}

#page-addons.controlpanel-addons .addons-section .addons-section-header {
  display: flex;
  padding: 0.65rem 0.85rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--section-header-bg-color);
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
}
