/* Base styles */
:root {
  --basic-font-family: system-ui;
  --basic-font-size: 16px;
  background: var(--background-color);
  font-family: var(--basic-font-family);
  font-size: var(--basic-font-size);
  line-height: 1.5;
}

.sbdocs.sbdocs-content {
  p {
    font-size: 16px;
  }
}
