/* stylelint-disable */
//*// TEXT //*//

//// Text: Paragraphs, info notes, placeholders
%text-small {font-size: $s; font-weight: $regular; letter-spacing: 0.024em; line-height: 1.5;}
%text-medium {font-size: $m; font-weight: $regular; letter-spacing: 0.012em; line-height: 1.5;}
%text-large {font-size: $l; font-weight: $regular; letter-spacing: 0; line-height: 1.25;}

//// Labels: Labels, Legends, Input vaules, links
%label-small {font-size: $s; font-weight: $medium; letter-spacing: 0.024em; line-height: 1.5;}
%label-medium {font-size: $m; font-weight: $medium; letter-spacing: 0.012em; line-height: 1.714285714285;}
%label-large {font-size: $l; font-weight: $medium;   letter-spacing: 0; line-height: 1.5;}

//// Button: Labelled buttons
%button-small {font-size: $s; font-weight: $medium; letter-spacing: 0.024em; line-height: 1.5;}
%button-medium {font-size: $l; font-weight: $medium; letter-spacing: 0; line-height: 1.5;}
%button-large {font-size: $xl; font-weight: $medium;  letter-spacing: -0.012em; line-height: 1.25;}

//// Titles
%title-small {font-size: $xl; font-weight: $bold;  letter-spacing: -0.012em; line-height: 1.25;}
%title-medium {font-size: $xxl; font-weight: $bold;  letter-spacing: -0.024em; line-height: 1.25;}

//// Code
%text-kbd { font-family: $system;font-size: $s; font-weight: $regular; letter-spacing: 0; line-height: 1.25;}
%text-code { font-family: $mono;font-size: $m; font-weight: $regular; letter-spacing: 0; line-height:1.5;}


////
%link {
    @extend %label-medium;
    color: $sapphire;
    font-size: inherit;
    line-height: initial;
    text-decoration: underline; // 2
    text-decoration: underline solid $smoke; // 2
    text-decoration-skip-ink: none; // 4
}
%link-hover {
    color: $royal;
    text-decoration-color: $royal;
}
%link-active {
  color: $cobalt;
  text-decoration-color: $cobalt;
}

//*// BLOCK SPACERS //*//
%separate-block-small { margin-top: $rhythm-medium; } //12
%separate-block-medium { margin-top: $rhythm-large; } //18
%separate-block-large { margin-top: $rhythm-huge; }   //30
%box-padding-tiny {padding:$rhythm-tiny;}
%box-padding-small {padding:$rhythm-small;}
%box-padding-medium {padding:$rhythm-large;}
%box-padding-large {padding:$rhythm-huge;}

//*// BOXES //*//
%box-afforance-default {}
%box-afforance-hover {}
%box-afforance-active {}


//*// HELPERS //*//
$icon-blank: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="#{$iron}" d="M15.586 7H9.5V5H19v9.5h-2V8.414L6.707 18.707l-1.414-1.414L15.586 7z"/></svg>';
$icon-mandatory: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="#{$rose}" d="M12 18a6 6 0 100-12 6 6 0 000 12z"/></svg>';
$icon-calendar: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$sapphire}" fill-rule="evenodd" d="M7 2v2H3v17h18V4h-4V2h-2v2H9V2H7zm12 4v2H5V6h14zM5 10v9h14v-9H5z"/></svg>';
$icon-chevrondown: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$iron}" d="M5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414L12 16.414 5.293 9.707z"/></svg>';
$icon-chevronup: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$iron}" d="M18.707 14.293l-1.414 1.414L12 10.414l-5.293 5.293-1.414-1.414L12 7.586l6.707 6.707z"/></svg>';
$icon-checkbox: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$air}" d="M18.44 5.26l2.12 2.12L9.5 18.442l-6.06-6.06 2.12-2.122L9.5 14.2l8.94-8.94z"/></svg>';
$icon-option-checked: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$cobalt}" d="M18.44 5.26l2.12 2.12L9.5 18.442l-6.06-6.06 2.12-2.122L9.5 14.2l8.94-8.94z"/></svg>';
$icon-radio: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#{$air}" d="M12 16a4 4 0 100-8 4 4 0 000 8z"/></svg>';
$icon-expand: 'data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$iron}" d="M5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414L12 16.414 5.293 9.707z"/></svg>';

//// Screen reader only
%sr {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap;
}


@mixin focus-visible {
  &:-moz-focusring {
    animation-duration: $time-medium;
    animation-name: focus-visible;
    box-shadow: 0 0 0 $rhythm-tiny rgba($cobalt, $a4) !important;
    outline:0;
  }

  &:focus-visible {
    animation-duration: $time-medium;
    animation-name: focus-visible;
    box-shadow: 0 0 0 $rhythm-tiny rgba($cobalt, $a4) !important;
    outline:0;
  }
}

@keyframes focus-visible {
  from {box-shadow: 0 0 0 $rhythm-medium rgba($cobalt, $a0);}
  to {box-shadow: 0 0 0 $rhythm-tiny rgba($cobalt, $a4);}
}

@mixin ripple {
  animation: ripple $time-large ease-in-out;
}

@keyframes ripple {
  0% { opacity: $a5; transform: scale(0, 0);}
  40% {opacity: $a5;transform: scale(50, 50);}
  100% { opacity: $a0; transform: scale(200, 200);}
}
