/* stylelint-disable */
//*// PLANCK UNITS //*//
$mass-base:         .875rem; // Mass ⭢ 14px. Sets base font size
$lenght-base:       .75rem; // Lenght ⭢ 12px. Sets base rhythm for separations and margins
$time-base:         .3s; // Time ⭢ .3s. Set base time for transitions and animations
$charge-base:       1.5; // Charge ⭢ 1.5. Set base line-heights and separator adjusters
$temperature-base:  207; // Temperature ⭢ 207. Set base tonic color hue
$s-rotate: 160; // To get triad of colors


@function c($var) {
    @return var(--#{$var});
}


//*// INKS //*//
$air:      #fff;
$space:    #000;
$denim:    hsl($temperature-base, 90%, 7%);

$snow:     hsl($temperature-base, 17%, 92%);
$smoke:    hsl($temperature-base, 17%, 85%);
$silver:   hsl($temperature-base, 17%, 73%);
$dolphin:  hsl($temperature-base, 17%, 55%);
$pigeon:   hsl($temperature-base, 17%, 43%); //mid gray
$iron:     hsl($temperature-base, 17%, 31%);

$arctic:   hsl($temperature-base, 90%, 96%);
$sky:      hsl($temperature-base, 90%, 91%);
$azure:    hsl($temperature-base, 90%, 80%);
$cobalt:   hsl($temperature-base, 90%, 58%);
$sapphire: hsl($temperature-base, 90%, 46%);
$royal:    hsl($temperature-base, 90%, 35%);

$ballet:   hsl($temperature-base + (calc($s-rotate / 1)), 90%, 95%);
$flamingo: hsl($temperature-base + (calc($s-rotate / 1)), 90%, 89%);
$poppy:    hsl($temperature-base + (calc($s-rotate / 1)), 90%, 78%);
$rose:     hsl($temperature-base + (calc($s-rotate / 1)), 90%, 59%);
$candy:    hsl($temperature-base + (calc($s-rotate / 1)), 90%, 43%);
$wine:     hsl($temperature-base + (calc($s-rotate / 1)), 90%, 35%);

//$cream:    hsl(#{$temperature-base - (calc($s-rotate / 1))}, 90%, 90%);
$banana:   hsl($temperature-base - (calc($s-rotate / 1)), 90%, 83%);
$lemmon:   hsl($temperature-base - (calc($s-rotate / 1)), 90%, 65%);
$gold:     hsl($temperature-base - (calc($s-rotate / 1)), 90%, 37%);
//$dijon:    hsl(#{$temperature-base - (calc($s-rotate / 1)), 90%, 30%);
//$bronze:   hsl(#{$temperature-base - (calc($s-rotate / 1)), 90%, 22%);

//$daiquiri: hsl(#{$temperature-base - ($s-rotate*3/5)}, 60%, 92%);
$mint:     hsl($temperature-base - ($s-rotate*calc(3 / 5)), 60%, 84%);
//$celery:   hsl(#{$temperature-base - ($s-rotate*3/5)}, 60%, 68%);
$neon:     hsl($temperature-base - ($s-rotate*calc(3 / 5)), 60%, 41%);
//$emerald:  hsl(#{$temperature-base - ($s-rotate*3/5)}, 60%, 33%);
$turtle:   hsl($temperature-base - ($s-rotate*calc(3 / 5)), 60%, 25%);

//$aqua:     hsl(#{$temperature-base - (calc($s-rotate / 5))}, 60%, 90%);
$spa:      hsl($temperature-base - (calc($s-rotate / 5)), 60%, 83%);
$tiffany:  hsl($temperature-base - (calc($s-rotate / 5)), 60%, 66%);
$turquoise:hsl($temperature-base - (calc($s-rotate / 5)), 60%, 40%);
//$peacock:  hsl(#{$temperature-base - (calc($s-rotate / 5))}, 60%, 31%);
$puya:     hsl($temperature-base - (calc($s-rotate / 5)), 60%, 23%);


:root {
    --air:          #{$air};
    --space:        #{$space};
    --denim:        #{$denim};

    --snow:         #{$snow};
    --smoke:        #{$smoke};
    --silver:       #{$silver};
    --dolphin:      #{$dolphin};
    --pigeon:       #{$pigeon};
    --iron:         #{$iron};

    --arctic:       #{$arctic};
    --sky:          #{$sky};
    --azure:        #{$azure};
    --cobalt:       #{$cobalt};
    --sapphire:     #{$sapphire};
    --royal:        #{$royal};

    --ballet:       #{$ballet};
    --flamingo:     #{$flamingo};
    --poppy:        #{$poppy};
    --rose:         #{$rose};
    --candy:        #{$candy};
    --wine:         #{$wine};

    --banana:       #{$banana};
    --lemmon:       #{$lemmon};
    --gold:         #{$gold};
    --mint:         #{$mint};
    --neon:         #{$neon};
    --turtle:       #{$turtle};
    --spa:          #{$spa};
    --tiffany:      #{$tiffany};
    --turquoise:    #{$turquoise};
    --puya:         #{$puya};
}
/*
@media (prefers-color-scheme: dark) {
:root {
    --air:          #{$space};
    --space:        #{$air};
    --denim:        #{$snow};

    --snow:         #{$denim};
    --smoke:        #{$iron};
    --silver:       #{$pigeon};
    --dolphin:      #{$dolphin};
    --pigeon:       #{$silver};
    --iron:         #{$smoke};

    --arctic:       #{$royal};
    --sky:          #{$sapphire};
    --azure:        #{$cobalt};
    --cobalt:       #{$azure};
    --sapphire:     #{$sky};
    --royal:        #{$arctic};

    --flamingo:     #{$candy};
    --poppy:        #{$rose};
    --rose:         #{$poppy};
    --candy:        #{$flamingo};
    --wine:         #{$ballet};
}
}
*/


//*// TRANSPARENCIES //*//
$a0:    0;
$a1:    .06;
$a2:    .12;
$a3:    .18;
$a4:    .72;
$a5:    1;

//*// RHYTHM //*//
$rhythm-null: 0;                    //0
$rhythm-tiny: calc($lenght-base / 4);       //3
$rhythm-small: calc($lenght-base / 2);      //6
$rhythm-medium: $lenght-base;       //12
$rhythm-large: $lenght-base*1.5;    //18
$rhythm-huge: $lenght-base*2.5;     //30
$rhythm-gigantic: $lenght-base*5;   //60
$rhythm-colossal: $lenght-base*10;  //120

//*// ELEVATIONS //*//
$litho:    $rhythm-null $rhythm-null $rhythm-null rgba($denim, $a0);
$tropo:    $rhythm-null calc($rhythm-tiny / 2) $rhythm-tiny rgba($denim, $a1), $rhythm-null calc($rhythm-tiny / 2) $rhythm-tiny rgba($denim, $a1);
$meso:     $rhythm-null calc($rhythm-small/2) $rhythm-small rgba($denim, $a1), $rhythm-null calc($rhythm-small/2) $rhythm-small rgba($denim, $a2);
$exo:      $rhythm-null calc($rhythm-medium/2) $rhythm-medium rgba($denim, $a1), $rhythm-null calc($rhythm-large/2) $rhythm-large rgba($denim, $a3);
$fog:      $rhythm-huge;
$focus:    $rhythm-null $rhythm-null $rhythm-null $rhythm-tiny rgba($cobalt, $a4);

//*// FONT SIZES //*//
$s:      $mass-base - (calc($mass-base/7));     //12
$m:      $mass-base;                    //14
$l:      $mass-base + calc($mass-base/7);     //16
$xl:     $mass-base + calc($mass-base/7*3);   //20
$xxl:    $mass-base + calc($mass-base/7*5);   //24

//*// FONT WEIGHTS and STYLES //*//
$regular:   400;
$medium:    500;
$bold:      700;
$normal:    normal;

//*// LINES //*//
$line-small:    1.25;
$line-medium:   1.5;
//$line-large:    1.714;

//*// FAMILIES //*//
// @font-face {
//     font-family: Metropolis;
//     src: local("Metropolis Bold"),
//          local("Metropolis-Bold"),
//          url(../../fonts/metropolis/Metropolis-Bold.otf);
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: Metropolis;
//     src: local("Metropolis Medium"),
//          local("Metropolis-Medium"),
//          url(../../fonts/metropolis/Metropolis-Medium.otf);
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: Metropolis;
//     src: local("Metropolis Regular"),
//          local("Metropolis-Regular"),
//          url(../../fonts/metropolis/Metropolis-Regular.otf);
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Anonymous Pro";
//     src: local("Anonymous Pro Bold"),
//          local("AnonymousPro-Bold"),
//          url(../../fonts/AnonymousPro/AnonymousPro-Bold.ttf);
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Anonymous Pro";
//     src: local("Anonymous Pro Regular"),
//          local("AnonymousPro-Regular"),
//          url(../../fonts/AnonymousPro/AnonymousPro-Regular.ttf);
//     font-weight: 400;
//     font-style: normal;
// }


$sans:      Metropolis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$mono:      "Anonymous Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$system:    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$title:     $sans;

//*// RADII //*//
$radii-null:    0;
$radii-small:   calc($lenght-base / 4);     //3
$radii-medium:  calc($lenght-base / 2);     //6
$radii-large:   $lenght-base*1.5;   //18
$radii-full:    $lenght-base*20;    //circle

//*// TIMERS //*//
$time-tiny:     .15s;      //feedback, affordance
$time-small:    .225s;     //removing element
$time-medium:   .3s;       //adding element
$time-large:    .45s;      //distracting
$time-huge:     .6s;       //tricky waiting


//*// BREAKPOINTS
$bp-tiny:       0;
$bp-small:      600px;
$bp-medium:     900px;
$bp-large:      1200px;
$bp-huge:       1500px;




//*// GENERAL VARIABLES //*//
$line-base:     $line-medium;
$size-base:     $m;
$family-base:   $sans;
$weight-base:   $regular;
$color-base:    $denim;
$bg-base:       $air;
$align-base:    null !default;


//@import "fundamentals/radii";
//@import "fundamentals/breakpoints";
//@import "fundamentals/motion";
//@import "fundamentals/tokens";
