.q.textarea {
  min-height: 96px;
  max-height: 240px;
  overflow-y: scroll;
  resize: vertical;
  @extend .scroll, .small;
}

div.q.textarea {
  &.input[placeholder]:empty:not(:focus) + label {
    margin-top: 0;
    margin-left: 0;
    color: $sapphire;
    transform: scale(1, 1);

    &::after {
      filter: none !important;
    }
  }

  &[placeholder]:empty:focus::before {
    color: $pigeon;
    content: attr(placeholder);
    @extend %text-medium;
  }

  &[placeholder]:empty::before + label {
    margin-top: 0;
    margin-left: 0;
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  &[placeholder]:empty:focus::before + label {
    margin-top: -30px;
    margin-left: -12px;
    transform: scale(0.8571428571, 0.8571428571);
    transform-origin: 0 0;
  }
}

.q.textarea.input {
  ~ .resizer {
    position: absolute;
    z-index: 1;
    right: 0;
    overflow: hidden;
    width: 18px;
    height: 18px;
    margin-top: -18px;
    background-color: $snow;
    pointer-events: none;
    transition: box-shadow 0s ease, background-color 0.24s ease;

    &::after {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 0;
      width: 70px; //not casual number
      height: 70px; //not casual number
      background-color: $silver;
      content: '';
      pointer-events: none;
      -webkit-transform: rotate(-45deg);
      transform-origin: right top;
    }
  }

  &:hover ~ .resizer {
    background-color: $smoke;

    &::after {
      background-color: $dolphin;
    }
  }

  &:active ~ .resizer,
  &:focus ~ .resizer {
    background-color: $air;
    box-shadow: inset -3px -3px 0 0px $cobalt;
    transition: box-shadow 0s ease, background-color 0.24s ease;

    &::after {
      background-color: $cobalt;
    }
  }
}

.q.textarea.dim {
  @extend .scroll, .small;
  background-color: $air;
  box-shadow: inset 0 0 0 1px $silver;

  &:hover {
    box-shadow: inset 0 0 0 1px $dolphin;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 1px $cobalt;
  }

  & ~ .resizer {
    background-color: $air;
    box-shadow: inset -1px -1px 0 0px $silver;
  }

  &:hover ~ .resizer {
    background-color: $air;
    box-shadow: inset -1px -1px 0 0px $dolphin;

    &::after {
      background-color: $dolphin;
    }
  }

  &:focus ~ .resizer {
    background-color: $air;
    box-shadow: inset -1px -1px 0 0px $cobalt;

    &::after {
      background-color: $cobalt;
    }
  }
}
