.folder-contents {
  #content {
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }

  .topbar {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    background-color: var(--background-color);
    gap: 1rem;

    .end-block {
      align-items: center;
      align-self: flex-end;
      gap: 1rem;
      margin-inline-start: auto;
    }
  }

  .react-aria-Breadcrumbs {
    .react-aria-Link {
      font-size: 0.89rem;
    }
  }
  .contents-breadcrumbs {
    color: var(--quanta-sapphire);
    li .text-gray-700 {
      color: var(--quanta-sapphire);
    }
  }

  .contents-table {
    --plone-table-width: 100%;
  }

  /* .add {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.375rem;
    border: 0 none;
    border-radius: 50%;
    background: var(--quanta-sapphire);
    color: var(--quanta-air);
    cursor: pointer;

    &:hover {
      background: var(--quanta-royal);
    }
  } */

  .title-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    .icon {
      flex-shrink: 0;
      color: var(--quanta-pigeon);
      margin-inline-end: 1rem;
    }
  }

  .review-state {
    display: flex;
    min-width: 8rem;
    align-items: center;

    &::before {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: var(--quanta-dolphin);
      content: '';
      margin-inline-end: 1rem;
    }

    &.private::before {
      background-color: var(--quanta-rose);
    }

    &.published::before {
      background-color: var(--quanta-cobalt);
    }

    &.intranet::before {
      background-color: var(--quanta-neon);
    }

    &.draft::before {
      background-color: #f6a808;
    }
  }

  .drag-cell-header,
  .actions-cell-header,
  .contents-actions,
  .item-actions-trigger {
    --border-color: transparent;
    --border-color-pressed: transparent;
    --border-color-disabled: transparent;
    padding: 0;
    color: var(--quanta-pigeon);
  }

  .drag-cell {
    color: var(--quanta-dolphin);
  }

  .contents-actions .contents-action-trigger {
    &.delete {
      --text-color: var(--quanta-candy);
    }
  }

  .drag-column-header,
  .drag-cell {
    display: none;
  }
}

.react-aria-Table {
  .react-aria-Link {
    font-size: var(--plone-table-row-font-size);
  }
}

.react-aria-Popover {
  --border-color: var(--quanta-smoke);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  .popover-label {
    color: var(--quanta-pigeon);
    font-size: 0.8rem;
    font-weight: 500;
  }

  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .popover-list .react-aria-Checkbox,
  .popover-list-item {
    font-size: 1rem;
  }

  .popover-list-item {
    padding: 0.5rem 0;
  }

  .react-aria-Dialog {
    padding: 0.75rem;
  }
}

.item-actions-popover {
  .popover-list-item {
    --link-color: var(--quanta-denim);
    &.view,
    &.move-to-bottom {
      border-bottom: 1px solid var(--quanta-smoke);
      margin-bottom: 0.5rem;
    }

    &.delete {
      --link-color: var(--quanta-candy);
      .icon {
        color: var(--link-color);
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      color: var(--quanta-pigeon);
      margin-inline-end: 1rem;
    }

    .react-aria-Link {
      display: inline-flex;
      align-items: center;
      padding: 0;
      border: 0;
      background: 0 none;
      font-size: 1rem;
      text-align: left;
      text-decoration: none;
    }
  }
}

.add-content-popover {
  .popover-list-item {
    & + li {
      border-top: 1px solid var(--quanta-smoke);
    }

    a {
      display: flex;
      align-items: center;
      color: var(--quanta-sapphire);
      text-decoration: none;

      &:hover {
        color: var(--quanta-royal);
        text-decoration: underline;
      }
    }

    .icon {
      margin-inline-start: auto;
    }
  }
}

.rearrange-popover {
  .react-aria-MenuItem {
    border-radius: 0;
    font-size: 1rem;
  }

  .rearrange-menu-item {
    display: flex;
    justify-content: space-between;

    .icon {
      flex-shrink: 0;
    }

    /* &.open {
      background-color: var(--highlight-pressed);
    } */

    &.focused,
    &.open {
      background-color: var(--quanta-smoke);
      color: var(--text-color);
    }
  }
}

@media (min-width: 992px) {
  .folder-contents {
    #content {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .topbar {
      flex-wrap: nowrap;
    }

    .drag-column-header,
    .drag-cell {
      display: table-cell;
    }
  }
}
