@import '../Checkbox/Checkbox.css';
@import '../Button/Button.css';
@import '../ToggleButton/ToggleButton.css';

.blocks-toolbar {
  display: flex;
  flex-wrap: wrap;

  padding: 6px;
  border-radius: 6px;
  box-shadow: var(--shadow-exo);
  gap: 5px;

  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
  .react-aria-Group {
    display: contents;
  }
}

.react-aria-Separator {
  align-self: stretch;
  background-color: var(--border-color);

  &[aria-orientation='vertical'] {
    width: 1px;
    margin: 0px 10px;
  }
}

.blocks-toolbar {
  width: fit-content;

  &[data-orientation='vertical'] {
    flex-direction: column;
    align-items: start;
  }
}

.react-aria-Separator {
  &:not([aria-orientation='vertical']) {
    width: 100%;
    height: 1px;
    border: none;
    margin: 10px 0;
  }
}
