:root {
  --q-table-column-font-weight: 500;
}

.react-aria-Column {
  font-weight: var(--q-table-column-font-weight);

  .sort-indicator {
    padding: 0 2px;
  }

  &:not([data-sort-direction]) .sort-indicator {
    visibility: hidden;
  }
}
