.react-aria-Table {
  --q-table-border: 0 none;
  --q-table-padding: 0.286rem;
  --q-table-header-color: var(--sapphire);
  --q-table-header-border-bottom: 1px solid var(--border-color);
  --q-table-row-pressed: var(--highlight-pressed);
  // min-height: 100px;
  // align-self: start;
  max-width: 100%;

  padding: var(--q-table-padding);
  border: var(--q-table-border);
  border-spacing: 0;
  forced-color-adjust: none;
  // border-radius: 6px;
  // background: var(--overlay-background);
  outline: none;
  word-break: break-word;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  .react-aria-TableHeader {
    color: var(--q-table-header-color);

    // &:after {
    //   content: '';
    //   display: table-row;
    //   height: 2px;
    // }

    & tr:last-child .react-aria-Column {
      border-bottom: var(--q-table-header-border-bottom);
      cursor: default;
    }
  }

  .react-aria-Row {
    // color: var(--text-color);
    // font-size: 1.072rem;
    position: relative;
    // --radius-top: 6px;
    // --radius-bottom: 6px;
    // --radius: var(--radius-top) var(--radius-top) var(--radius-bottom)
    //   var(--radius-bottom);
    // border-radius: var(--radius);
    // clip-path: inset(0 round var(--radius)); /* firefox */
    // outline: none;
    cursor: default;
    transform: scale(1);

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -2px;
    }

    &[data-pressed] {
      background: var(--q-table-row-pressed);
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      --focus-ring-color: var(--highlight-foreground);

      &[data-focus-visible],
      .react-aria-Cell[data-focus-visible] {
        outline-offset: -4px;
      }
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }

  .react-aria-Cell,
  .react-aria-Column {
    padding: 4px 8px;
    outline: none;
    text-align: left;

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -2px;
    }
  }

  .react-aria-Cell {
    transform: translateZ(0);

    // &:first-child {
    //   border-radius: var(--radius-top) 0 0 var(--radius-bottom);
    // }

    // &:last-child {
    //   border-radius: 0 var(--radius-top) var(--radius-bottom) 0;
    // }
  }

  /* join selected items if :has selector is supported */
  // @supports selector(:has(.foo)) {
  //   .react-aria-Row[data-selected]:has(+ [data-selected]),
  //   .react-aria-Row[data-selected]:has(
  //       + .react-aria-DropIndicator + [data-selected]
  //     ) {
  //     --radius-bottom: 0px;
  //   }

  //   .react-aria-Row[data-selected] + [data-selected],
  //   .react-aria-Row[data-selected]
  //     + .react-aria-DropIndicator
  //     + [data-selected] {
  //     --radius-top: 0px;
  //   }
  // }
}

:where(.react-aria-Row) .react-aria-Checkbox {
  --selected-color: var(--highlight-foreground);
  --selected-color-pressed: var(--highlight-foreground-pressed);
  --checkmark-color: var(--highlight-background);
  --background-color: var(--highlight-background);
}

// .react-aria-TableBody {
//   &[data-empty] {
//     text-align: center;
//     font-style: italic;
//   }
// }

.react-aria-ResizableTableContainer {
  position: relative;
  // max-width: 400px;
  overflow: auto;
  border: var(--q-table-border);
  // border-radius: 6px;
  // background: var(--background-color);

  .react-aria-Table {
    border: none;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
  }

  // TODO double check these styles to strip out unnecessary ones
  // and keep only the bare minimum
  .column-name,
  .react-aria-Button {
    --background-color: var(--overlay-background);
    overflow: hidden;
    flex: 1;
    border-color: transparent;
    color: inherit;
    font: inherit;
    text-align: start;
    text-overflow: ellipsis;
    transition: background 200ms;
    &[data-hovered] {
      background: var(--highlight-hover);
    }

    &[data-pressed] {
      background: var(--highlight-pressed);
      box-shadow: none;
    }

    &:focus-visible {
      outline: 2px solid var(--focus-ring-color);
    }
  }

  // TODO double check these styles to strip out unnecessary ones
  // and keep only the bare minimum
  .react-aria-ColumnResizer {
    width: 15px;
    height: 25px;
    box-sizing: border-box;
    flex: 0 0 auto;
    border: 5px;
    border-style: none solid;
    border-color: transparent;
    background-clip: content-box;
    background-color: grey;
    touch-action: none;

    &[data-resizable-direction='both'] {
      cursor: ew-resize;
    }

    &[data-resizable-direction='left'] {
      cursor: e-resize;
    }

    &[data-resizable-direction='right'] {
      cursor: w-resize;
    }

    &[data-focus-visible] {
      background-color: var(--focus-ring-color);
    }

    &[data-resizing] {
      border-color: var(--focus-ring-color);
      background-color: transparent;
    }
  }

  .react-aria-Column,
  .react-aria-Cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid var(--highlight-background);
  transform: translateZ(0);
}

.react-aria-Table[data-drop-target] {
  background: var(--highlight-overlay);
  outline: 2px solid var(--highlight-background);
  outline-offset: -1px;
}

.react-aria-Row[data-drop-target] {
  background: var(--highlight-overlay);
  outline: 2px solid var(--highlight-background);
}
