.ui.vertical.menu.collapsed {
  width: 4rem;
}

.ui.menu.collapsed .item {
  padding: .92857143em 0em 0.92857143em 1.14285714em;
}

.ui.vertical.menu.collapsed .dropdown.item > .icon {
  margin-left: 0;
}

.ui.menu.collapsed.left.fixed ~ .pusher {
  margin-left: 4rem;
}

.ui.menu.left.fixed ~ .pusher {
  margin-left: 210px;
}

.help {
  font-style: italic;
  font-weight: 400;
  color: #666666;
  margin-left: 0.5em;
}

.description {
  font-size: 18px;
  font-weight: 700;
  color: #696969;
}

.deletion {
  background-color: #f8cbcb;
}

.addition {
  background-color: #a6f3a6;
}

.ui.menu .item.personal-bar {
  width: 210px;
  position: fixed;
  bottom: 0;
}

.ui.menu.collapsed .item.personal-bar {
  width: 4rem;
}

.ui.dropdown .menu.left {
  left: auto;
  right: 0;
}

.ui.segment.dashed {
  border: 3px dashed #ccc;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .ui.menu.stackable > .menu,
  .ui.menu.stackable > .menu.right {
    display: block;
  }
}

.drag.handle {
  cursor: move;
}

.ui.segment.messages {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
}

.editbar {
  position: fixed;
  top: 60px;
  left: 400px;
  z-index: 10;
}

/* override when sidebar is shown */
@media only screen and (min-width: 1200px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 917px; // 1127 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 723px; // 933 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 513px; // 723 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

/* Mosaic */
.mosaic .tile {
  cursor: move;
  border: solid 2px transparent;
  position: relative;
  margin: -2px;
}

.mosaic .tile .ui.label.below {
  position: absolute;
  top: -34px;
}

.mosaic .tile .close.icon {
  cursor: pointer;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.mosaic .tile:hover {
  border: dashed 2px #3469d0;
}

.mosaic .tile.selected {
  border: solid 2px #3469d0;
  cursor: default;
  background-color: #ffffe1;
}

.mosaic .tile.selected:hover {
  border: solid 2px #3469d0;
}

.mosaic .row {
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}



.mosaic .tile.top,
.mosaic .row.top {
  border-top: solid 2px #3469d0;
}

.mosaic .tile.bottom,
.mosaic .row.bottom {
  border-bottom: solid 2px #3469d0;
}

.mosaic .column {
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
}

.mosaic .column.left {
  border-left: solid 2px #3469d0;
}

.mosaic .column.right {
  border-right: solid 2px #3469d0;
}

.mosaic .tile.dragging {
  opacity: 0.5;
}

.mosaic .divider {
  display: inline-block;
  position: relative;
  width: 20px;
  margin: -10px;
  z-index: 1;
  cursor: col-resize;
}

.mosaic .divider:hover .inner {
  border-right: dashed 4px #3469d0;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 12px;
}

.mosaic .resize.helper {
  background-color: #3469d0;
  position: fixed;
  width: 4px;
  margin: 0;
  padding: 0;
}

.mosaic .row.resize {
  opacity: 0.5;
}

.mosaic .row.resize .divider {
  opacity: 0;
}

/* Responsive visibility helper classes

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
