.ui.vertical.menu.collapsed {
  width: 4rem;
}

.ui.menu.collapsed .item {
  padding: .92857143em 0em 0.92857143em 1.14285714em;
}

.ui.vertical.menu.collapsed .dropdown.item > .icon {
  margin-left: 0;
}

.ui.menu.collapsed.left.fixed ~ .pusher {
  margin-left: 4rem;
}

.ui.menu.left.fixed ~ .pusher {
  margin-left: 210px;
}

.help {
  font-style: italic;
  font-weight: 400;
  color: #666666;
  margin-left: 0.5em;
}

.description {
  font-size: 18px;
  font-weight: 700;
  color: #696969;
}

.ui.menu .item.personal-bar {
  width: 210px;
  position: fixed;
  bottom: 0;
}

.ui.menu.collapsed .item.personal-bar {
  width: 4rem;
}

/* override when sidebar is shown */
@media only screen and (min-width: 1200px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 917px; // 1127 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 723px; // 933 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.menu.fixed ~ .pusher .ui.container {
    width: 513px; // 723 - 210
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

/* Responsive visibility helper classes

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
