.q.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  .q.breadcrumb:not(:last-child)::after {
    padding: 0 5px;
    alt: ' ';
    content: '›';
    content: '›' / '';
  }

  svg.home-icon {
    margin-top: -5px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

// TODO: Decide if shadow all RAC components (eg. use a custom classNames for all of them)
.react-aria-Link {
  --focus-ring-color: slateblue;
  --text-color: $color-base;
  --text-color-current: $space;
  --text-color-disabled: gray;
  position: relative;

  color: var(--text-color);
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &[data-hovered] {
    text-decoration: underline;
  }

  &[data-current] {
    color: var(--text-color-current);
    font-weight: bold;
  }

  &[data-focus-visible]:after {
    position: absolute;
    border: 2px solid var(--focus-ring-color);
    border-radius: 6px;
    content: '';
    inset: -2px -4px;
  }

  &[data-disabled] {
    cursor: default;

    &:not([data-current]) {
      color: var(--text-color-disabled);
    }
  }
}

@media (forced-colors: active) {
  .react-aria-Link {
    --focus-ring-color: Highlight;
    --text-color: LinkText;
    --text-color-current: CanvasText;
    --text-color-disabled: GrayText;
  }
}
