*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.sublime-workspace
.*
.Python
Gruntfile.js
bin
bower_components
buildout.cfg
develop-eggs
devpackages
include
lib
lib64
local
local.cfg
node_modules
package.json
parts
pip-selfcheck.json
python
share
src
temp_resources/
var
# exclude
!.gitignore
