[buildout]
index = https://pypi.org/simple/
extends = http://dist.plone.org/release/5.2.2/versions.cfg
find-links += http://dist.plone.org/thirdparty/
parts = instance plonesite robot-server
versions = versions

extensions = mr.developer
# auto-checkout =

[sources]
kitconcept.volto = git https://github.com/kitconcept/kitconcept.volto.git branch=master
plone.rest = git git@github.com:plone/plone.rest.git branch=master
plone.restapi = git git://github.com/plone/plone.restapi.git pushurl=git@github.com:plone/plone.restapi.git branch=master

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    kitconcept.volto
    Products.PloneHotfix20200121

zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="http://localhost:3000,http://127.0.0.1:3000"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,Origin"
    max_age="3600"
    />
  </configure>

[robot-server]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    collective.MockMailHost
    plone.app.robotframework
    robotframework-debuglibrary
    robotframework-requests
    robotframework-react
    robotframework-seleniumlibrary
    robotframework-selenium2library
    robotframework-webpack
scripts =
    robot-server
    pybot

[plonesite]
recipe = collective.recipe.plonesite
site-id = Plone
instance = instance
profiles-initial = Products.CMFPlone:dependencies
profiles =
    plonetheme.barceloneta:default
    plone.app.contenttypes:plone-content
    kitconcept.volto:default-homepage
upgrade-portal = False
upgrade-all-profiles = False
site-replace = True

[versions]
setuptools =
zc.buildout =
plone.restapi =

kitconcept.volto =

robotframework =
robotframework-debuglibrary =
robotframework-react =
robotframework-requests =
robotframework-selenium2library =
robotframework-seleniumlibrary =
robotframework-webpack=
selenium =
