name: Acceptance Tests
on: [push, pull_request]
jobs:
  seven:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    name: Seven
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js environment
        uses: ./.github/actions/acceptance_tests_node_env_setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run Playwright Acceptance Tests
        shell: bash
        run: pnpm exec playwright test --reporter=list,html

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 15
