name: Changelog check
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

env:
  node-version: 22.x

jobs:
  towncrier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all history
          fetch-depth: '0'

      - name: Install towncrier
        run: pip install towncrier

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            volto:
              - 'packages/volto/**'
            client:
              - 'packages/client/**'
            registry:
              - 'packages/registry/**'
            components:
              - 'packages/components/**'
            types:
              - 'packages/types/**'
            providers:
              - 'packages/providers/**'
            generator:
              - 'packages/generator-volto/**'
            scripts:
              - 'packages/scripts/**'
            voltoSlate:
              - 'packages/volto-slate/**'
            blocks:
              - 'packages/blocks/**'
            slots:
              - 'packages/slots/**'
            theming:
              - 'packages/theming/**'
            seven:
              - 'packages/seven/**'
            cmsui:
              - 'packages/cmsui/**'
            wrongNews:
              - added|modified: 'news/**'

      - name: Volto changelog check
        if: steps.filter.outputs.volto == 'true'
        run: |
          # Fetch the pull request' base branch so towncrier will be able to
          # compare the current branch with the base branch.
          # Source: https://github.com/actions/checkout/#fetch-all-branches.
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/volto
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Client changelog check
        if: steps.filter.outputs.client == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/client
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Registry changelog check
        if: steps.filter.outputs.registry == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/registry
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Components changelog check
        if: steps.filter.outputs.components == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/components
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Types changelog check
        if: steps.filter.outputs.types == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/types
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Providers changelog check
        if: steps.filter.outputs.providers == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/providers
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Generator changelog check
        if: steps.filter.outputs.generator == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/generator-volto
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: scripts changelog check
        if: steps.filter.outputs.scripts == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/scripts
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: volto-slate changelog check
        if: steps.filter.outputs.voltoSlate == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/volto-slate
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Blocks changelog check
        if: steps.filter.outputs.blocks == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/blocks
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Slots changelog check
        if: steps.filter.outputs.slots == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/slots
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Theming changelog check
        if: steps.filter.outputs.theming == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/theming
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: seven changelog check
        if: steps.filter.outputs.seven == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/seven
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: cmsui changelog check
        if: steps.filter.outputs.cmsui == 'true'
        run: |
          git fetch --no-tags origin main
          towncrier check --compare-with origin/main --dir packages/cmsui
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Wrong location of news changelog check
        if: steps.filter.outputs.wrongNews == 'true'
        run: echo "News items should be moved from the repository root to the appropriate package root in `packages/package-name`." && exit 1
        env:
          BASE_BRANCH: ${{ github.base_ref }}
