name: Changelog check
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - seven

env:
  node-version: 22.x

jobs:
  towncrier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all history
          fetch-depth: '0'

      - name: Install towncrier
        run: pip install towncrier

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            seven:
              - 'apps/seven/**'
            quanta:
              - 'apps/quanta/**'
            client:
              - 'packages/client/**'
            registry:
              - 'packages/registry/**'
            components:
              - 'packages/components/**'
            cmsui:
              - 'packages/cmsui/**'
            helpers:
              - 'packages/providers/**'
            types:
              - 'packages/types/**'
            providers:
              - 'packages/providers/**'
            reactrouter:
              - 'packages/react-router/**'
            scripts:
              - 'packages/scripts/**'
            blocks:
              - 'packages/blocks/**'
            slots:
              - 'packages/slots/**'
            theming:
              - 'packages/theming/**'
            wrongNews:
              - added|modified: 'news/**'

      - name: seven changelog check
        if: steps.filter.outputs.seven == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir apps/seven
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: quanta changelog check
        if: steps.filter.outputs.quanta == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir apps/quanta
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: CMSUI changelog check
        if: steps.filter.outputs.cmsui == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/cmsui
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Client changelog check
        if: steps.filter.outputs.client == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/client
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Registry changelog check
        if: steps.filter.outputs.registry == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/registry
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Components changelog check
        if: steps.filter.outputs.components == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/components
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Helpers changelog check
        if: steps.filter.outputs.helpers == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/helpers
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Types changelog check
        if: steps.filter.outputs.types == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/types
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Providers changelog check
        if: steps.filter.outputs.providers == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/providers
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: React Router changelog check
        if: steps.filter.outputs.reactrouter == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/react-router
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: scripts changelog check
        if: steps.filter.outputs.scripts == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/scripts
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Blocks changelog check
        if: steps.filter.outputs.blocks == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/blocks
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Slots changelog check
        if: steps.filter.outputs.slots == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/slots
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Theming changelog check
        if: steps.filter.outputs.theming == 'true'
        run: |
          git fetch --no-tags origin seven
          towncrier check --compare-with origin/seven --dir packages/theming
        env:
          BASE_BRANCH: ${{ github.base_ref }}

      - name: Wrong location of news changelog check
        if: steps.filter.outputs.wrongNews == 'true'
        run: echo "News items should be moved from the repository root to the appropriate package root in `packages/package-name`." && exit 1
        env:
          BASE_BRANCH: ${{ github.base_ref }}
