# .github/workflows/docs-rtd-pr-preview-registry.yml
name: readthedocs/actions
on:
  pull_request_target:
    types:
      - opened
    # Execute this action only on PRs that touch
    # documentation files for @plone/registry.
    branches:
      - 18.x.x
    paths:
      - .readthedocs.yaml
      - requirements-docs.txt
      - "packages/registry/docs/**"

permissions:
  pull-requests: write

jobs:
  documentation-links:
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "plone-registry"
          single-version: "true"
