# .github/workflows/docs-rtd-pr-preview-volto.yml
name: readthedocs/actions
on:
  pull_request_target:
    types:
      - opened
    # Execute this action only on PRs that touch
    # documentation files for Volto.
    branches:
      - main
    paths:
      - "docs/source/**"
      - .readthedocs.yaml
      - requirements-docs.txt

permissions:
  pull-requests: write

jobs:
  documentation-links:
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "volto"
          single-version: "true"
