# Check links in all README.mds with awesome_bot
# https://github.com/dkhamsing/awesome_bot
name: readme-link-check

on:
  push:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 3.2
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
    - name: Check links in README.md with awesome_bot
      run: |
        gem install awesome_bot
        awesome_bot --request-delay 1 --allow-dupe --files README.md,packages/client/README.md,packages/components/README.md,packages/generator-volto/README.md,packages/registry/README.md,packages/scripts/README.md,packages/types/README.md,packages/volto-slate/README.md
