# Check links in all README.mds and other *.mds at the repo root with Lychee
# https://github.com/lycheeverse/lychee-action
name: README.md link check

on:
  push:
    branches: [ '*' ]

jobs:
  readme-link-checker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Check links in README.md with Lychee
      id: lychee
      uses: lycheeverse/lychee-action@v2
      with:
        fail: true
        args: >-
          --timeout 5
          --max-retries 2
          --exclude https://www.npmjs.com/
          --exclude http://localhost:8080
          --exclude http://localhost:3000
          --exclude https://github.com/kitconcept/volto-blocks-grid.git
          --exclude https://my-server-DNS-name.tld/api
          --exclude 2021.ploneconf.org
          --exclude https://www.lanku.eus/
          --exclude https://medium.com/
          'packages/**/README.md'
          '*.md'